altgraph==0.17.3
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
comtypes==1.2.0
idna==3.4
numpy==1.25.1
pefile==2023.2.7
pipreqs==0.4.13
psutil==5.9.5
PyAudio==0.2.13
pycaw==20230407
pycparser==2.21
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
PyQt6==6.5.1
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
PySide6==6.5.1.1
PySide6-Addons==6.5.1.1
PySide6-Essentials==6.5.1.1
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
shiboken6==6.5.1.1
sounddevice==0.4.6
soundfile==0.12.1
urllib3==2.0.3
